* {
  box-sizing: border-box;
}
body {
  background-color: #c3cfe27e;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  margin: 40px 0 50px;
}
#search {
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  font-size: larger;
  border: 1px solid #ddd;
  padding: 15px;
  width: 480px;
}
#sort {
  border-radius: 5px;
  font-size: larger;
  border: 1px solid #ddd;
  padding: 15px;
}
#total_results {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: larger;
  width: 698px;
}
.repositories {
  padding: 0;
  width: 698px;
  height: 60vh;
  overflow-y: scroll;
}
.repo {
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	height: 9.5rem;
	margin: 10px 0;
}
.repo-loading {
	border-radius: 3px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
	height: 9.5rem;
	margin: 10px 0;
	width: 680px;
}
.loading div {
  color: transparent;
  background: linear-gradient(100deg, #eceff1 30%, #f6f7f8 50%, #eceff1 70%);
  background-size: 400%;
  animation: loading 1.2s ease-in-out infinite;
}
@keyframes loading {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
